<footer>
  <span role="list">
    <span role="listitem">
      <a class="k" href="https://twitter.com/_shoonia" rel="noopener noreferrer" target="_blank">
        Twitter
      </a>
    </span>
    <span role="listitem">
      <a class="k" href="https://github.com/shoonia" rel="noopener noreferrer" target="_blank">
        GitHub
      </a>
    </span>
    <span role="listitem">
      <a class="k" href="https://www.linkedin.com/in/shoonia/" rel="noopener noreferrer" target="_blank">
        LinkedIn
      </a>
    </span>
  </span>
</footer>
