<div style="
    padding-top: 2em;
    display: flex;
    justify-content: center;
">
  <a href="https://www.comebackalive.in.ua/">
    <img
     src="/assets/images/comebackalive.svg"
     alt="defending ukraine together"
     width="400"
     loading="lazy"
    />
  </a>
</div>
