<section class="content">
  <a href="https://www.comebackalive.in.ua/" class="comeback-alive">
    <img
      src="/assets/images/comeback-alive.svg"
      alt="defending ukraine together"
      width="400"
      loading="lazy"
      style="background-color:transparent"
    />
  </a>
</section>
