<section style="
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #eaf8ff;
">
  <svg width="2em" viewBox="0 0 1200 800" role="img" aria-label="stand with ukraine">
    <rect width="1200" height="800" fill="#005bbb"/>
    <rect width="1200" height="400" y="400" fill="#ffd500"/>
  </svg>
  <a href="https://war.ukraine.ua/" style="color: #1353a9;">
    Support Ukraine
  </a>
</section>
