<section class="stand-with-ukraine">
  <svg width="2em" viewBox="0 0 3 2" aria-label="stand with ukraine">
    <path fill="#005bbb" d="M0 0h3v1H0z"/>
    <path fill="#ffd500" d="M0 1h3v1H0z"/>
  </svg>
  <a href="/support-ukraine/">
    Support Ukraine
  </a>
</section>
