{
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": [
    "node_modules/",
    "public/",
    "static/"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "global-require": "off",
    "linebreak-style": "off",
    "no-trailing-spaces": "error",
    "no-use-before-define": "error",
    "no-unused-vars": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ]
  }
}
