<!DOCTYPE html>
<html lang="{{ lang }}">
{% include 'head.njk' %}
<body>

{% include 'header.njk' %}

<main>
  <time lang="{{ lang }}" datetime="{{ date }}"></time>

  {{ content | safe }}
</main>

{% include 'footer.njk' %}

{# <script async type="module" src="/assets/vendor.js?v=2"></script> #}
</body>
</html>
