<!DOCTYPE html>
<html lang="{{ lang }}">
{% include 'head.njk' %}
<body>
{% include 'support.njk' %}
{% include 'header.njk' %}

{% set link = permalink | siteUrl %}

<main class="content">
  <div class="topbar">
    <time lang="{{ lang }}" datetime="{{ date }}"></time>
    <span class="topbar-share">
      <a
        aria-label="share on twitter"
        class="no-animation topbar-link"
        href="https://x.com/intent/tweet?text={{ title | encodeURIComponent }}&via=_shoonia&url={{ link | encodeURIComponent }}&hashtags=VeloByWix"
      >
        <svg fill="currentColor" viewBox="0 0 24 24" width="1em">
          <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
        </svg>
      </a>
      <button
        aria-label="share via link"
        type="button"
        class="topbar-link"
        data-clipboard="{{ link }}"
      >
        <svg fill="currentColor" viewBox="0 0 19 19" width="1em">
          <path d="m11.867 10.296 2.553-2.554a2.255 2.255 0 0 0-3.189-3.189L8.678 7.108l-.996-.996a.2.2 0 0 1 0-.283l2.49-2.49a3.855 3.855 0 0 1 5.452 5.453l-2.49 2.49a.2.2 0 0 1-.282 0l-.985-.985ZM7.122 8.663l-2.53 2.53a2.255 2.255 0 1 0 3.189 3.189l2.53-2.53.987.986a.2.2 0 0 1 0 .283l-2.54 2.54a3.858 3.858 0 1 1-5.456-5.456l2.54-2.54a.2.2 0 0 1 .283 0l.997.998Zm-.203 2.25 3.96-3.96a.2.2 0 0 1 .283 0l.884.883a.2.2 0 0 1 0 .283l-3.96 3.96a.2.2 0 0 1-.283 0l-.884-.884a.2.2 0 0 1 0-.283Z"/>
        </svg>
      </button>
    </span>
  </div>
  {{ content | safe }}
</main>

<article class="content giscus"></article>

{% include 'footer.njk' %}

<script
  async
  src="https://giscus.app/client.js"
  data-repo="shoonia/dev-blog"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyMTY4NTE5MzI="
  data-category="General"
  data-category-id="DIC_kwDODOzl3M4CWZV5"
  data-mapping="title"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="bottom"
  data-theme="light"
  data-lang="{{ lang }}"
  crossorigin="anonymous">
</script>

</body>
</html>
