<!DOCTYPE html>
<html lang="{{ lang }}">
{% include 'head.njk' %}
<body>
{% include 'support.njk' %}
{% include 'header.njk' %}

<main class="content">
  <h1>Velo Snippets</h1>
  <ul class="posts">

  {% for s in collections.snippets %}
    <li class="post">
      <a href="{{ s.permalink }}">{{ s.title }}</a>
    </li>
  {% endfor %}

  </ul>
</main>

{% include 'footer.njk' %}

</body>
</html>
