.md {
  --light: rgb(112, 128, 144);
  --light-op: rgb(112, 128, 144, 0.4);
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  font-weight: normal;
}

.md h1 {
  font-size: 40px;
  line-height: 48px;
  margin: 0.9em 0;
}

.md h2 {
  font-size: 26px;
  margin: 22px 0;
}

.md p {
  font-size: 18px;
  margin: 18px 0;
  line-height: 1.58;
}

.md em {
  color: var(--cr-gray);
  font-style: italic;
}

.md pre {
  border-radius: 8px;
  margin: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: var(--light-op) transparent;
}

.md pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.md pre::-webkit-scrollbar-track {
  background-color: transparent;
}

.md pre::-webkit-scrollbar-thumb {
  background-color: var(--light-op);
  border-radius: 10px;
}

.md pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--light);
}

.md code,
.md kbd {
  font-size: 90%;
}

.md a code {
  color: var(--cr-link);
}

.md hr {
  border: none;
  color: var(--light);
  background-color: var(--light);
  height: 2px;
}

.md table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.md table th,
.md table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.md table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.md img {
  max-width: 100%;
  object-fit: cover;
  font-size: 80%;
  color: var(--light);
}

.md p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md strong {
  font-size: 90%;
}

@media (max-width: 700px) {
  .md h1 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 1.9em;
  }

  .md h2 {
    font-size: 22px;
    margin: 20px 0;
  }

  .md p {
    font-size: 16px;
    margin: 16px 0;
  }
}
