code[class*="code-"],
pre[class*="code-"] {
  color: rgba(255, 255, 255, 0.8);
  background: none;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

pre[class*="code-"] ::selection,
code[class*="code-"] ::selection {
  text-shadow: none;
  background-color: #9aa2b1;
}

@media print {
  code[class*="code-"],
  pre[class*="code-"] {
    text-shadow: none;
  }
}

pre[class*="code-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background-color: #282c34;
  -webkit-overflow-scrolling: touch;
}

.token.parameter {
  color: rgba(255, 255, 255, 0.8);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #708090;
  text-shadow: 0 0 1px #000;
}

.token.punctuation {
  color: #a9b2c0;
  text-shadow: 0 0 1px #000;
}

.token.selector,
.token.tag {
  color: #f16372;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #db975c;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #8cc570;
}

.token.operator,
.token.entity,
.token.url,
.code-css .token.string,
.style .token.string {
  color: #19b9c4;
}

.token.atrule,
.token.keyword {
  color: #d373e3;
}

.token.function,
.token.function-variable {
  color: #40b1f5;
}

.token.regex,
.token.important,
.token.variable {
  color: #d373e3;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
