code[class*="code-"],
pre[class*="code-"] {
  color: rgba(255, 255, 255, 0.8);
  background: none;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

pre[class*="code-"] ::selection,
code[class*="code-"] ::selection {
  text-shadow: none;
  background-color: #9aa2b1;
}

@media print {
  code[class*="code-"],
  pre[class*="code-"] {
    text-shadow: none;
  }
}

pre[class*="code-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background-color: #282c34;
  -webkit-overflow-scrolling: touch;
}

.comment,
.prolog,
.doctype,
.cdata {
  color: #708090;
  text-shadow: 0 0 1px #000;
}

.punctuation {
  color: #abb2bf;
  text-shadow: 0 0 1px #000;
}

.selector,
.tag {
  color: #e06c75;
}

.property,
.boolean,
.number,
.constant,
.symbol,
.attr-name,
.deleted {
  color: #d19a66;
}

.string,
.char,
.attr-value,
.builtin,
.inserted {
  color: #98c379;
}

.operator,
.entity,
.url,
.code-css .string,
.style .string {
  color: #56b6c2;
}

.atrule,
.keyword {
  color: #c678dd;
}

.function {
  color: #61afef;
}

.regex,
.important,
.variable {
  color: #c678dd;
}

.important,
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.entity {
  cursor: help;
}
