code[class*="code-"],
pre[class*="code-"] {
  color: rgba(255, 255, 255, 0.8);
  background: none;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

pre[class*="code-"] ::selection,
code[class*="code-"] ::selection {
  text-shadow: none;
  background-color: #9aa2b1;
}

@media print {
  code[class*="code-"],
  pre[class*="code-"] {
    text-shadow: none;
  }
}

pre[class*="code-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background-color: #282c34;
  -webkit-overflow-scrolling: touch;
}

.parameter {
  color: rgba(255, 255, 255, 0.8);
}

.comment,
.prolog,
.doctype,
.cdata {
  color: #708090;
  text-shadow: 0 0 1px #000;
}

.punctuation {
  color: #a9b2c0;
  text-shadow: 0 0 1px #000;
}

.selector,
.tag {
  color: #f16372;
}

.property,
.boolean,
.number,
.constant,
.symbol,
.attr-name,
.deleted {
  color: #db975c;
}

.string,
.char,
.attr-value,
.builtin,
.inserted {
  color: #8cc570;
}

.operator,
.entity,
.url,
.code-css .string,
.style .string {
  color: #19b9c4;
}

.atrule,
.keyword {
  color: #d373e3;
}

.function,
.function-variable {
  color: #40b1f5;
}

.regex,
.important,
.variable {
  color: #d373e3;
}

.important,
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.entity {
  cursor: help;
}
