@import "../../variables.css";

.header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  margin-bottom: 60px;
}

.nav {
  max-width: $content-widht;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: $max-width) {
  .header {
    margin-bottom: 30px;
  }
}
