.content {
  min-height: 50vh;
}

.post {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  font-weight: normal;
  max-width: var(--w-content);
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  max-width: var(--w-content);
  padding: 0 15px;
  margin: 0 auto;
  list-style: none;
}

.itemTitle {
  font-weight: normal;
  font-size: 1.3em;
}

.author {
  font-size: 14px;
}
