.content {
  min-height: 50vh;
}

.title {
  font-size: 2em;
  max-width: var(--w-content);
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  max-width: var(--w-content);
  padding: 0 15px;
  margin: 0 auto;
  list-style: none;
}

.itemTitle {
  font-weight: normal;
  font-size: 1.3em;
}
