.footer {
  margin-top: 80px;
  height: 100px;
  text-align: center;
  background-color: #f9f9f9;
}

.me {
  line-height: 100px;
}

.link {
  display: inline-block;
  margin: 0 15px;
  user-select: none;
  color: #1353a9;
}
