@import "../../variables.css";

.footer {
  margin-top: 80px;
  height: 100px;
  text-align: center;
  background-color: #f9f9f9;
}

.me {
  line-height: 100px;
}

.link {
  display: inline-block;
  margin: 0 30px;
  user-select: none;
  color: #1353a9;
  font-size: 1.2em;
}

.link::before {
  display: none;
}

@media (max-width: $max-width) {
  .link {
    margin: 0 15px;
    font-size: 1em;
  }
}
