.footer {
  margin-top: 80px;
  height: 100px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.me {
  line-height: 100px;
}

.link {
  font-size: 90%;
  display: inline-block;
  margin: 0 10px;
  user-select: none;
}
