$content-max-width: 765px;

:root {
  --c-link: #0069c2;
  --c-light-link: #eaf8ff;
  --c-gray: rgb(0 0 0 / 64%);
  --c-light-gray: rgb(112 128 144);
  --c-gray-o: rgb(112 128 144 / 40%);
  --border: 1px solid var(--c-gray-o);
  --line: 1px solid rgb(0 0 0 / 10%);
  --font-mono: "fira code", consolas, monaco, "andale mono", "ubuntu mono", monospace;
  --font-serif: georgia, "times new roman", times, serif;
  --code-bg: #282c34;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background-color: #d3edff;
}

@font-face {
  font-family: "fira code";
  src: url("/assets/firacode@5.2.0/firacode-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes to-up {
  0% {
    transform: translate(-50%, 0.5em) scale(0.9);
  }

  100% {
    transform: translate(-50%, 0) scale(1);
  }
}

:global(.giscus),
:global(.giscus-frame) {
  margin-top: 2em;
  min-height: auto;
}

[data-noscroll] {
  overflow: hidden;
}

[data-fullscreen] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  height: fill-available;
  margin: 0;
  border-radius: 0;
}

[data-popup]::after {
  display: inline-block;
  content: attr(data-popup);
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  animation: to-up 500ms;
}

body {
  font-family:
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    "segoe ui",
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    "open sans",
    "helvetica neue",
    sans-serif;
  font-size: 18px;
  text-size-adjust: 100%;
  color: rgb(0 0 0 / 84%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html,
body {
  min-height: 100vh;
  height: fill-available;
}

main {
  margin-top: 3em;
  margin-bottom: auto;
}

header {
  border-bottom: var(--line);
}

nav {
  font-size: 1.2em;
  height: 4em;
  line-height: 4em;
}

footer {
  margin-top: 8em;
  padding: 4em 0;
  text-align: center;
  border-top: var(--line);
}

a {
  color: var(--c-link);
  position: relative;
  outline: none;
}

a,
ins,
del {
  text-decoration: none;
}

pre a {
  color: #7e93d4;
  text-decoration: underline;
}

footer a {
  display: inline-block;
  margin: 0 1em;
  user-select: none;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 105%;
  height: 2px;
  background-color: var(--c-link);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.no-animation::before,
pre a::before,
summary::marker,
summary::-webkit-details-marker {
  display: none;
}

a:hover::before,
a:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

abbr {
  cursor: help;
}

abbr[data-open]::after {
  content: " (" attr(title) ")";
}

h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.2em;
  font-family: var(--font-serif);
  text-wrap: balance;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.15em;
}

.content {
  max-width: $content-max-width;
  width: 100%;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}

.title::before {
  content: " ";
  display: block;
  padding-top: 1em;
}

.anchor {
  opacity: 0;
}

.anchor::after {
  content: "\00B6";
  position: absolute;
  width: 1em;
  left: -0.8em;
  color: var(--c-light-gray);
  font-family: var(--font-serif);
}

.anchor:focus,
.anchor:hover,
.title:focus .anchor,
.title:hover .anchor {
  opacity: 1;
}

p,
ul,
ol,
dl,
table,
aside,
blockquote,
figure,
figcaption {
  margin: 1em 0;
  line-height: 1.7;
}

em,
cite {
  color: var(--c-gray);
  font-style: italic;
}

code,
kbd,
mark {
  font-family: var(--font-mono);
  font-size: 0.8em;
  display: inline-block;
  font-weight: 400;
}

pre > code {
  display: block;
  padding: 3em 1em 4em;
  min-width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--c-gray-o) transparent;
}

pre > code::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

pre > code::-webkit-scrollbar-track {
  background-color: transparent;
}

pre > code::-webkit-scrollbar-thumb {
  background-color: var(--c-gray-o);
  border-radius: 10px;
}

pre > code::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-light-gray);
}

code:not(._),
mark {
  padding: 0 0.5em;
  color: #333;
  border-radius: 0.75em 0.25em 0.25em;
}

code:not(._) {
  background-color: #d2e1fc;
}

mark {
  background-color: #fff380;
}

kbd {
  line-height: 1em;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
  padding: 3px 5px;
  border-radius: 3px;
}

hr {
  border: none;
  color: var(--c-gray-o);
  background-color: var(--c-gray-o);
  height: 2px;
}

table {
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.3em 0.7em;
  border: var(--border);
}

table tr {
  background-color: #fff;
  border-top: var(--border);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: #eee;
}

video,
iframe,
img[decoding="async"] {
  content-visibility: auto;
}

p > img,
figure > img {
  margin: auto;
  display: block;
}

b,
cite,
strong {
  font-weight: bold;
}

ul,
ol {
  padding: 0 0 0 1.7em;
}

li {
  margin: 0.5em 0;
}

ul > li {
  list-style: url("/assets/images/i.svg");
}

summary {
  list-style: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

summary::after {
  content: "open";
  position: absolute;
  right: 0.5em;
  font-size: 0.9em;
  color: var(--c-link);
}

details {
  padding: 1em;
  margin: 1em 0;
}

details summary::before {
  content: "+";
  font-family: var(--font-mono);
  font-weight: bold;
  color: var(--c-link);
  display: inline-block;
  margin-right: 8px;
}

details[open] summary::before {
  content: "-";
}

details[open] summary::after {
  content: "close";
}

iframe {
  overflow: hidden;
}

details,
iframe,
video {
  border: var(--border);
  border-radius: 8px;
  width: 100%;
  display: block;
}

aside,
blockquote {
  padding: 0.5em 1em;
  border-left-width: 6px;
  border-left-style: solid;
}

aside {
  border-left-color: #1eb4ff;
  background-color: #eaf8ff;
}

blockquote {
  border-left-color: #ffe564;
  background-color: rgb(255 229 100 / 30%);
}

blockquote::before,
blockquote::after {
  color: var(--c-light-gray);
  font-family: var(--font-serif);
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote::before {
  content: open-quote;
  margin-right: 0.25em;
}

blockquote::after {
  content: close-quote;
  margin-left: 0.25em;
}

time {
  color: var(--c-gray);
  font-size: 0.8em;
  font-family: Courier, monospace;
}

dd {
  margin: 0 1em;
}

pre {
  color: #f8f8f2;
  background-color: var(--code-bg);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
  position: relative;
  display: flex;
}

pre ::selection {
  text-shadow: none;
  background-color: rgb(154 162 177 / 20%);
}

.menu {
  outline: 3px solid var(--code-bg);
  background: var(--code-bg) no-repeat center / cover;
  padding: 0;
  margin: 0;
  position: absolute;
  border: none;
  display: block;
  cursor: pointer;
  user-select: none;
}

.menu-left {
  background-image: url("/assets/images/i/menu.svg");
  height: 14px;
  width: 54px;
  top: 1em;
  left: 1em;
}

.menu-right {
  background-image: url("/assets/images/i/fullscreen-enter.svg");
  height: 1.5em;
  width: 1.5em;
  top: 1em;
  right: 1em;
  visibility: hidden;
}

.menu-copy {
  background-image: url("/assets/images/i/copyboard.svg");
  height: 1.5em;
  width: 1.5em;
  bottom: 1em;
  right: 1em;
  color: inherit;
}

[data-fullscreen] .menu-right {
  background-image: url("/assets/images/i/fullscreen-exit.svg");
}

[data-fullscreen] .menu-copy {
  position: fixed;
}

pre:hover > .menu-right {
  visibility: visible;
}

/**
 * PrimsJS
 */

.comment,
.prolog,
.doctype,
.cdata {
  color: #7e93d4;
  text-shadow: 0 0 1px #000;
  font-style: italic;
}

.selector,
.tag {
  color: #f16372;
}

.language-css .property {
  color: #e5c07b;
}

.language-json .property,
.boolean,
.number,
.constant,
.symbol,
.attr-name {
  color: #ffa657;
}

.regex,
.string,
.string-property,
.char,
.attr-value,
.builtin {
  color: #8cc570;
}

.interpolation-punctuation,
.operator,
.entity,
.url,
.language-css .string,
.style .string {
  color: #19b9c4;
}

.function {
  color: #40b1f5;
}

.regex-flags,
.atrule,
.keyword,
.important,
.variable {
  color: #ff79c6;
}

.template-punctuation,
.important,
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.deleted {
  background-color: #67060c;
}

.inserted {
  background-color: #033a16;
}

.prefix.deleted,
.prefix.inserted {
  padding: 0 3px;
  margin-right: 5px;
}

.prefix.deleted {
  background-color: hsl(350deg 100% 88% / 20%);
}

.prefix.inserted {
  background-color: hsl(120deg 73% 75% / 20%);
}

.prefix.deleted::after {
  color: #e5c07b;
  content: "-";
}

.prefix.inserted::after {
  color: #aff5b4;
  content: "+";
}

del.deleted,
ins.inserted {
  display: block;
  min-width: max-content;
}

.entity {
  cursor: help;
}

/*
.function-variable
.literal-property
.parameter
.punctuation
*/

/**
 * Components
 */

.posts {
  margin: 0;
  padding: 0;
}

.post {
  list-style: none;
  padding: 1em 0;
  border-bottom: var(--border);
}

.post-author {
  font-size: 0.8em;
}

/**
 * Banners
 */

.stand-with-ukraine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: rgb(243 244 246 / 100%);
}

/**
 * Filetree
 */

.filetree {
  font-size: 0.8em;
  border: var(--border);
  user-select: none;
  margin: 1em 0;
}

.filetree img {
  background: none;
  height: 1.1em;
  object-fit: none;
}

.filetree_title {
  background-color: #f7f8f8;
  border-bottom: var(--border);
  border-top: var(--border);
  padding: 1em;
}

.filetree_row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  line-height: 1em;
}

.filetree_tab {
  margin: 1em;
}

/**
 * Topbar
 */
.topbar {
  position: relative;
}

.topbar-share {
  position: absolute;
  right: 0;
}

.topbar-link {
  font-size: 1em;
  color: var(--c-link);
  border: var(--border);
  margin: 0 0 0 0.3em;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media print {
  pre {
    text-shadow: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  a::before {
    transition: none;
  }

  [data-popup]::after {
    animation: none;
  }
}

@media (max-width: $content-max-width) {
  h1 {
    font-size: 1.8em;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.2em;
  }
}
