*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --c-link: #1a72e8;
  --c-light-link: #eaf8ff;
  --c-gray: rgb(0 0 0 / 64%);
  --c-light-gray: rgb(112 128 144);
  --c-gray-opacity: rgb(112 128 144 / 40%);
  --content-widht: 750px;
  --font-mono: "fira code", consolas, monaco, "andale mono", "ubuntu mono", monospace;
  --font-serif: georgia, "times new roman", times, serif;
}

::selection {
  background-color: #d3edff;
}

@font-face {
  font-family: "fira code";
  src: url("/assets/firacode@5.2.0/firacode-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family:
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    "segoe ui",
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    "open sans",
    "helvetica neue",
    sans-serif;
  font-size: 18px;
  text-size-adjust: 100%;
  color: rgb(0 0 0 / 84%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

html,
body {
  min-height: 100vh;
  height: fill-available;
}

.content {
  max-width: var(--content-widht);
  width: 100%;
  padding: 0 1.2em;
  margin: 0 auto;
}

header {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

nav {
  font-size: 1.2em;
}

footer {
  margin-top: 5em;
  padding: 2em 0;
  text-align: center;
  border-top: 1px solid rgb(0 0 0 / 10%);
}

a {
  color: var(--c-link);
  text-decoration: none;
  position: relative;
  outline: none;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 105%;
  height: 2px;
  background-color: rgb(26 114 232 / 70%);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

pre a::before,
footer a::before {
  display: none;
}

a:hover::before,
a:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer a {
  color: var(--c-light-gray);
  display: inline-block;
  margin: 0 1em;
  user-select: none;
}

footer a:hover,
footer a:focus {
  color: #1353a9;
}

h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.2em;
  font-family: var(--font-serif);
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.15em;
}

.title::before {
  content: " ";
  display: block;
  padding-top: 1em;
}

.anchor {
  float: left;
  margin-left: -1em;
  width: 1em;
  height: 1em;
  background: 50% no-repeat url("/assets/images/link.svg");
  opacity: 0;
}

.anchor::before {
  content: none;
}

.anchor:focus,
.anchor:hover,
.title:focus .anchor,
.title:hover .anchor {
  opacity: 1;
}

p,
ul,
ol,
table,
aside,
blockquote,
figure,
figcaption {
  margin: 1em 0;
  line-height: 1.7;
}

em,
cite {
  color: var(--c-gray);
  font-style: italic;
}

code,
kbd,
mark {
  font-family: var(--font-mono);
  font-size: 0.8em;
  display: inline-block;
  font-weight: 400;
}

pre code {
  margin: 2em 0;
}

code:not(._),
mark {
  padding: 0 0.5em;
  color: #333;
  border-radius: 0.75em 0.25em 0.25em;
}

code:not(._) {
  background-color: #d2e1fc;
}

mark {
  background-color: #fff380;
}

kbd {
  line-height: 1em;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
  padding: 3px 5px;
  border-radius: 3px;
}

hr {
  border: none;
  color: var(--c-gray-opacity);
  background-color: var(--c-gray-opacity);
  height: 2px;
}

table {
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.3em 0.7em;
  border: 1px solid var(--c-gray-opacity);
}

table tr {
  background-color: #fff;
  border-top: 1px solid var(--c-gray-opacity);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: #eee;
}

video,
iframe,
img[decoding="async"] {
  content-visibility: auto;
}

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

cite,
strong {
  font-weight: bold;
}

ul,
ol {
  padding: 0 0 0 1.7em;
}

li {
  margin: 0.5em 0;
}

ul > li {
  list-style: url("/assets/images/i.svg");
}

summary {
  list-style: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "open";
  position: absolute;
  right: 0.5em;
  font-size: 16px;
  color: var(--c-link);
}

details {
  padding: 0.9em;
  margin: 1em 0;
}

details summary::before {
  content: "+";
  font-family: var(--font-mono);
  font-weight: bold;
  color: var(--c-link);
  display: inline-block;
  margin-right: 8px;
}

details[open] summary::before {
  content: "-";
}

details[open] summary::after {
  content: "close";
}

video {
  height: auto;
}

iframe {
  overflow: hidden;
}

details,
iframe,
video {
  border: 1px solid var(--c-gray-opacity);
  border-radius: 8px;
  width: 100%;
}

aside,
blockquote {
  padding: 0.5em 1em;
  border-left-width: 6px;
  border-left-style: solid;
}

aside {
  border-left-color: #1eb4ff;
  background-color: #eaf8ff;
}

blockquote {
  border-left-color: #ffe564;
  background-color: rgb(255 229 100 / 30%);
}

blockquote::before,
blockquote::after {
  color: var(--c-light-gray);
  font-family: var(--font-serif);
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote::before {
  content: open-quote;
  margin-right: 0.25em;
}

blockquote::after {
  content: close-quote;
  margin-left: 0.25em;
}

time {
  color: var(--c-gray);
  font-size: 14px;
  font-family: Courier, monospace;
}

pre {
  color: #f8f8f2;
  background-color: #282c34;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
  padding: 1em 1em 2.4em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--c-gray-opacity) transparent;
}

pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

pre::-webkit-scrollbar-track {
  background-color: transparent;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--c-gray-opacity);
  border-radius: 10px;
}

pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-light-gray);
}

pre ::selection {
  text-shadow: none;
  background-color: rgb(154 162 177 / 20%);
}

pre a {
  color: #7e93d4;
  text-decoration: underline;
}

.menu {
  background-image: url("/assets/images/menu.svg");
  height: 14px;
  width: 54px;
  position: absolute;
}

/**
 * PrimsJS
 */

.comment,
.prolog,
.doctype,
.cdata {
  color: #7e93d4;
  text-shadow: 0 0 1px #000;
  font-style: italic;
}

.selector,
.tag {
  color: #f16372;
}

.language-css .property {
  color: #e5c07b;
}

.language-json .property,
.boolean,
.number,
.constant,
.symbol,
.attr-name {
  color: #ffa657;
}

.regex,
.string,
.string-property,
.char,
.attr-value,
.builtin {
  color: #8cc570;
}

.interpolation-punctuation,
.operator,
.entity,
.url,
.language-css .string,
.style .string {
  color: #19b9c4;
}

.function {
  color: #40b1f5;
}

.regex-flags,
.atrule,
.keyword,
.important,
.variable {
  color: #ff79c6;
}

.template-punctuation,
.important,
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.deleted {
  background-color: #67060c;
}

.inserted {
  color: #aff5b4;
  background-color: #033a16;
}

.prefix.deleted,
.prefix.inserted {
  user-select: none;
}

.entity {
  cursor: help;
}

/*
.function-variable
.literal-property
.parameter
.punctuation
*/

/**
 * Components
 */

.posts {
  margin: 0;
  padding: 0;
}

.post {
  list-style: none;
}

.post-author {
  font-size: 14px;
}

/**
 * Banners
 */

.stand-with-ukraine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: var(--c-light-link);
}

.comeback-alive {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding: 2em 1em;
  border: 1px solid var(--c-gray-opacity);
  border-radius: 8px;
}

.comeback-alive:hover,
.comeback-alive:focus {
  background-color: var(--c-light-link);
}

.comeback-alive::before {
  display: none;
}

/**
 * Copy Code
 */

.copy-code {
  display: block;
  position: absolute;
  background: none;
  color: inherit;
  padding: 0.4em 1em;
  cursor: pointer;
  border: 1px solid var(--c-light-gray);
  user-select: none;
}

@media print {
  pre {
    text-shadow: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  a::before {
    transition: none;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.8em;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.2em;
  }
}
