._filetree {
  font-size: 0.8em;
  border: var(--border);
  user-select: none;
  margin: 1em 0;
}

._filetree img {
  background: none;
}

._filetree_title {
  background-color: #f7f8f8;
  border-bottom: var(--border);
  border-top: var(--border);
  padding: 1em;
}

._filetree_row {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

._filetree_tab {
  margin: 1em;
}
